@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h5>Admin: admin@concerts@com pw: 123aA!</h5>
    <h5>User: test@mail.com pw: Pa$$w0rd!</h5>
    <h5>User: user1@mail.com pw: Pa$$w0rd!</h5>
    <h5>User: user2@mail.com pw: Pa$$w0rd!</h5>
    @*Суть тз - простая система покупки билетов на концерт

        Есть 2 роли - пользователь и админ. Пользователь может купить билет, админ может добавить концерт.

        Концерт минимально имеет:

        Исполнителя (группу)
        Количество билетов
        Дату
        Место, где проходит концерт.
        Тип концерта (классическая музыка, вечеринка, опэнэйр). Для классической музыки нужно отдельно иметь информацию о типе голоса солиста (альт, тенор, и т.д) и название концерта, композитора.
        Для опэнэйра – как проехать и хэдлайнер. Для вечеринке – возрастной ценз. (к примеру, суть в том, что есть как общие части, так и отличные)

        Пользователь может открыть карту и увидеть где какой концерт проходит.
        Вверху страницы поиск для того, чтобы отфильтровать концерты по названию а также по интересующему типу.
        Плюс он может забронировать билет. Бронируя билет получает конфирмейшн на почту.

        Бонусные пункты:

        а) Замена бронирования на покупки. Покупка происходит через пайпал. Тестовый аккаунт будет предоставлен.
        б) Возможность добавления промокода со скидкой.

        Сам тестовый проект представляет собой простое веб приложение где есть минимальная клиентская часть, авторизация, операции работы с бд и простенькая бизнес логика. Стэк - .NET Core, ASP.NET Core, EF Core, Vue.JS или ReactJS

        Критерии успешного прохождения в порядке убывающего приоритета:
        0) Умение анализировать задание, задавать правильные вопросы, думать о проблеме
        0) Твоё взаимодействие с нами в течении рабочей недели
        1) Работа выполнена согласно ТЗ и работает
        2) Ты понимаешь что какая строчка кода делает и понимаешь где какие концепции используются
        3) Структура и читабельность кода
        4) Наличие покрытия кода тестами
        5) Красивость и аккуратность интерфейса

        Время тестового проекта - 1 неделя + его защита в следующий понедельник (можно и раньше, если считаешь, что коперник готов)*@
</div>
