@model IEnumerable<TicketManager.Models.Location>

@{
    ViewData["Title"] = "Map";
}

<html>
<head>
    <script src="https://maps.googleapis.com/maps/api/js?"></script>
</head>
<body>
    @{
        <div id="mapDiv" style="width:100%;height:600px;"></div>
        <script type="text/javascript">
            window.onload = function () {
                DisplayMap();
            };
        </script>
    }

    <script type="text/javascript">
        let points = @Json.Serialize(Model);
        //console.log(points);
        function DisplayMap() {

            //Set the Latitude and Longitude of the Map
            var cityCenter = new google.maps.LatLng(53.907466, 27.559047);

            //Create Options or set different Characteristics of Google Map
            var mapOptions = {
                center: cityCenter,
                zoom: 11,
                minZoom: 1,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            //Display the Google map in the div control with the defined Options
            var map = new google.maps.Map(document.getElementById("mapDiv"), mapOptions);

            //Setting markers
            points.forEach(point => {
                console.log(point);
                console.log(point.latitude);
                console.log(point.longitude);
                var location = new google.maps.LatLng(point.latitude, point.longitude);
                var marker = new google.maps.Marker({
                    position: location,
                    animation: google.maps.Animation.BOUNCE,
                    title: point.name,
                });
                marker.setMap(map);
            });
        }
    </script>
</body>
</html>

