@model TicketManager.Models.Ticket

@{
    ViewData["Title"] = "Create Many";
}

<h1>Create</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateMany">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Concert</label>
                <select asp-for="ConcertId" class="form-control" asp-items="ViewBag.ConcertId"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Amount</label>
                <input asp-for="Amount" type="number" min="1" max="10000" step="1" value="100" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}