@model TicketManager.Models.ConcertTypes.OpenAir

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>OpenAir</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Headliner" class="control-label"></label>
                <input asp-for="Headliner" class="form-control" />
                <span asp-validation-for="Headliner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationInstruction" class="control-label"></label>
                <input asp-for="LocationInstruction" class="form-control" />
                <span asp-validation-for="LocationInstruction" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="SingerId" class="control-label"></label>
                <select asp-for="SingerId" class="form-control" asp-items="ViewBag.SingerId"></select>
                <span asp-validation-for="SingerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationId" class="control-label"></label>
                <select asp-for="LocationId" class="form-control" asp-items="ViewBag.LocationId"></select>
                <span asp-validation-for="LocationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discriminator" class="control-label"></label>
                <input asp-for="Discriminator" class="form-control" />
                <span asp-validation-for="Discriminator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
